[mysqld]
# 设置连接过时自动关闭时间(s)
wait_timeout = 300
interactive_timeout = 600
# 最大连接数。根据你的服务器性能调整这个值
max_connections = 500
bind-address=0.0.0.0
port=3306
skip-name-resolve
character_set_server=utf8
datadir=/var/lib/mysql
server-id=1000
